<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description"
          content="Fantasy Tiersheet helps you to rank and resort players according to the tiers they fall under. Use it during the draft to keep track of drafted players and get an edge on your league!">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700,900|Material+Icons'
          rel="stylesheet">
    <title>fantasytiersheet.com</title>
  </head>

  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>

</html>