<template>
  <div>
    <Topbar :has-search="false"></Topbar>
    <v-main>
      <v-progress-linear :indeterminate="true"></v-progress-linear>
      <div>Creating new tiersheet...</div>
    </v-main>
  </div>
</template>

<script>
import { createTiersheet } from '@/services/services';
import Topbar from '@/layout/Topbar.vue';
import { mapGetters } from 'vuex';
import { v4 as uuidv4 } from 'uuid';

export default {
  name: 'CreateTiersheet',
  display: 'CreateTiersheet',
  components: {
    Topbar,
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
    }),
  },
  mounted() {
    if (this.isLoggedIn) {
      createTiersheet().then((response) => {
        return this.$router.replace(`/tiersheet/${response.data}`);
      });
    } else {
      const newId = uuidv4();
      return this.$router.replace(`/tiersheet/${newId}`);
    }
  },
};
</script>
<style scoped></style>
