<template>
  <div>
    <draggable class="list-group" :list="rankings" @end="onUpdate($event)">
      <div
        class="list-group-item showhover"
        v-for="ranking in rankings"
        :key="ranking.player.id"
        v-bind:class="{
          highlighted: ranking.isHighlighted,
          isTier: ranking.isTier,
        }"
      >
        <span class="player_text" v-on:dblclick="highlight(ranking)">
          <span class="player_info">
            {{ ranking.player.name }}
            {{ ranking.player.team.abrev | parens }}
            {{ ranking.player.team.bye | ignoreZero }}
          </span>
          <a v-if="!ranking.isTier && isAdmin" class="showme" @click="editPlayer(ranking.player)">
            <v-icon>edit</v-icon>
          </a>
          <v-spacer></v-spacer>
          <span class="player_actions">
            <span v-if="ranking.player.url">
              <a v-bind:href="ranking.player.url" target="_blank">
                <v-icon :dark="ranking.isHighlighted">info</v-icon>
              </a>
            </span>
            <span v-if="!ranking.isTier">
              <a @click="$emit('toggle-star', ranking)">
                <span v-if="ranking.is_starred">
                  <v-icon :dark="ranking.isHighlighted">star</v-icon>
                </span>
                <span v-if="!ranking.is_starred">
                  <v-icon :dark="ranking.isHighlighted">star_border</v-icon>
                </span>
              </a>
            </span>
          </span>
        </span>
      </div>
    </draggable>
    <v-dialog v-model="showEdit" max-width="690">
      <EditPlayer
        v-bind:teams="teams"
        v-bind:player="playerToEdit"
        v-on:update="updatePlayer"
        v-on:cancel="closeDialog"
      />
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import draggable from 'vuedraggable';
import { mapGetters } from 'vuex';
import EditPlayer from '@/features/EditPlayer.vue';
import { Player, Ranking } from '@/models/Player.model';

export default Vue.extend({
  props: {
    rankings: {
      type: Array,
      default: () => [],
    } as PropOptions<Ranking[]>,
  },
  name: 'drag',
  components: {
    draggable,
    EditPlayer,
  },
  data(): {
    dragging: boolean;
    showEdit: boolean;
    playerToEdit: Player | null;
  } {
    return {
      dragging: false,
      showEdit: false,
      playerToEdit: null,
    };
  },
  methods: {
    closeDialog() {
      this.showEdit = false;
    },
    updatePlayer(player: Player) {
      this.showEdit = false;
      this.playerToEdit = null;
      // to do in store instead

      const toChange = this.rankings.filter((x) => x.player.id === player.id);
      toChange[0].player = player;
    },
    editPlayer(player: Player) {
      this.showEdit = true;
      this.playerToEdit = Object.assign({}, player);
    },
    highlight(ranking: Ranking) {
      ranking.isHighlighted = !ranking.isHighlighted;
    },
    onUpdate() {
      const rankingIds = this.rankings.map((x) => x.player.id);
      this.$emit('updated', rankingIds);
    },
  },
  filters: {
    ignoreZero(bye: number) {
      return bye === 0 ? '' : bye;
    },
    parens(team: string) {
      return team ? `(${team})` : '';
    },
  },
  computed: {
    ...mapGetters({ isAdmin: 'auth/isAdmin', teams: 'players/teams' }),
  },
});
</script>
<style scoped lang="scss">
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.columns {
  display: flex;
  flex: 0 0 auto;
}
.list-group-item {
  flex: 0 0 auto;
}
.player_text {
  display: flex;
  cursor: pointer;
}
.player_actions {
  align-items: center;
  justify-content: right;
  a {
    text-decoration: none;
  }
}

.player_info {
  align-items: center;
  justify-content: left;
}
.fixedMenu {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 10000;
}

a:hover,
a:focus {
  color: #1667b6;
}
.highlighted {
  color: #fff;
  background-color: #000;
}
.isTier {
  text-decoration: underline;
}

.highlighted span {
  color: #fff;
}
</style>
<style>
.showme {
  display: none;
}
.showhover:hover .showme {
  display: block;
}
</style>
