<template>
  <v-card>
    <v-card-title class="headline">Edit Player</v-card-title>

    <v-card-text v-if="player">
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field v-model="player.name" :rules="nameRules" label="Name" required></v-text-field>

        <v-select
          v-model="player.team"
          :items="teams"
          item-text="name"
          :rules="[(v) => !!v || 'Team is required']"
          label="Team"
          return-object
          required
        ></v-select>

        <v-text-field v-model="player.url" label="Url" required></v-text-field>

        <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate"> Test </v-btn>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>

      <v-btn color="green darken-1" text @click="clearDialog()"> Cancel </v-btn>

      <v-btn color="green darken-1" text @click="update(player)"> Change </v-btn>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Player, Team } from '@/models/Player.model';
import Vue, { PropOptions } from 'vue';
import { mapActions } from 'vuex';

export default Vue.extend({
  name: 'EditPlayer',
  props: {
    player: {
      type: Object,
    } as PropOptions<Player>,
    teams: {
      type: Array,
    } as PropOptions<Team[]>,
  },

  data() {
    return {
      valid: true,
      nameRules: [(v: string) => !!v || 'Name is required'],
      byes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
    };
  },
  components: {},
  methods: {
    ...mapActions({ updatePlayer: 'players/updatePlayer' }),
    update(player: Player) {
      this.updatePlayer(player);
      this.$emit('update', player);
    },
    clearDialog() {
      this.$emit('cancel');
    },
    validate() {
      (this.$refs.form as Vue & { validate: () => boolean }).validate();
    },
  },
});
</script>
