<template>
  <div>
    <Topbar :hasSearch="true" v-on:newSearch="filterSearch"></Topbar>
    <v-main>
      <div v-if="!loading">
        <div class="row columns">
          <div class="col-2" id="qbs">
            <h3>QBs</h3>
            <DragSection
              v-bind:rankings="qbs"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
          </div>
          <div class="col-2" id="rbs">
            <h3>RBs</h3>
            <DragSection
              v-bind:rankings="rbs"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
          </div>
          <div class="col-2" id="wrs">
            <h3>WRs</h3>
            <DragSection
              v-bind:rankings="wrs"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
          </div>
          <div class="col-2" id="tes">
            <h3>TEs</h3>
            <DragSection
              v-bind:rankings="tes"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
          </div>
          <div class="col-2">
            <h3>DSTs</h3>
            <DragSection
              v-bind:rankings="dsts"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
            <h3>Ks</h3>
            <DragSection
              v-bind:rankings="ks"
              v-bind:filterText="filterText"
              v-on:toggle-star="toggleStar"
              v-on:updated="updateOrder"
            ></DragSection>
          </div>
          <div class="col-2">
            <v-divider vertical></v-divider>
          </div>
        </div>
      </div>
      <div v-else>
        <v-progress-linear :indeterminate="true"></v-progress-linear>
      </div>
    </v-main>

    <Snackbar />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import DragSection from '@/features/DragSection.vue';
import Topbar from '@/layout//Topbar.vue';
import Snackbar from '@/layout/Snackbar.vue';
import { Position, Ranking } from '@/models/Player.model';
import { SnackbarConfig } from '@/models/Snackbar.model';
import { getDefaultTiersheet, getTiersheet, reorder, toggleStar } from '@/services/services';
import { mapGetters } from 'vuex';

export default Vue.extend({
  name: 'players',
  components: {
    DragSection,
    Topbar,
    Snackbar,
  },
  data(): {
    tiersheet_id: string;
    qbs: Ranking[];
    rbs: Ranking[];
    wrs: Ranking[];
    tes: Ranking[];
    dsts: Ranking[];
    ks: Ranking[];
    filterText: string;
    loading: boolean;
  } {
    return {
      tiersheet_id: '',
      qbs: [],
      rbs: [],
      wrs: [],
      tes: [],
      dsts: [],
      ks: [],
      filterText: '',
      loading: false,
    };
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      isAdmin: 'auth/isAdmin',
    }),
  },

  methods: {
    promptRegister() {
      const code = 'has_seen_register';
      const storage = sessionStorage.getItem(code);
      if (!storage) {
        const config = {
          text: 'Would you like to register for an account to save?',
          hasClose: true,
          customLink: 'signup',
          trackCode: code,
        } as SnackbarConfig;
        this.$store.dispatch('snackbar/setSnackMsg', config);
      }
    },
    toggleStar(ranking: Ranking) {
      if (this.isLoggedIn) {
        toggleStar(this.tiersheet_id, ranking.player).then(
          () => (ranking.is_starred = !ranking.is_starred)
        );
      } else {
        ranking.is_starred = !ranking.is_starred;
        this.promptRegister();
      }
    },
    updateOrder(list: string[]) {
      if (this.isLoggedIn) {
        reorder(this.tiersheet_id, list);
      } else {
        this.promptRegister();
        // show bottom right register account message
      }
    },
    isTier(ranking: Ranking) {
      return (
        ranking.player.name.toLowerCase().indexOf('tier') >= 0 && ranking.player.team.bye === 0
      );
    },
    filterSearch(value: string) {
      this.filterText = value;
    },
    setPlayerData(rankings: Ranking[]) {
      rankings.forEach((x) => (x.isHighlighted = false));
      rankings.map((x) => (this.isTier(x) ? (x.isTier = true) : (x.isTier = false)));
      this.qbs = rankings.filter((x) => x.player.position === Position.QB);
      this.rbs = rankings.filter((x) => x.player.position === Position.RB);
      this.wrs = rankings.filter((x) => x.player.position === Position.WR);
      this.tes = rankings.filter((x) => x.player.position === Position.TE);
      this.dsts = rankings.filter((x) => x.player.position === Position.DST);
      this.ks = rankings.filter((x) => x.player.position === Position.K);
      this.loading = false;
    },
  },
  mounted() {
    this.loading = true;
    if (this.isAdmin) {
      this.$store.dispatch('players/getTeams');
    }
    this.tiersheet_id = this.$route.params.id;
    if (this.isLoggedIn) {
      getTiersheet(this.tiersheet_id)
        .then((response) => {
          if (response) {
            this.setPlayerData(response.data);
          }
        })
        .catch((err) => {
          if (err.status === 403) {
            return this.$router.replace('/not-allowed');
          } else {
            return this.$router.replace('/not-found');
          }
        });
    } else {
      getDefaultTiersheet()
        .then((response) => {
          if (response) {
            this.setPlayerData(response.data);
          }
        })
        .catch((err) => {
          if (err.status === 403) {
            return this.$router.replace('/not-allowed');
          } else {
            return this.$router.replace('/not-found');
          }
        });
    }
  },
});
</script>

<style scoped>
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.columns {
  display: flex;
  flex: 0 0 auto;
  column-gap: 30px;
  margin-left: 10px;
}
.player_text {
  cursor: pointer;
}
.fixedMenu {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 10000;
}

a:hover,
a:focus {
  color: #1667b6;
}
.highlighted span {
  color: #fff;
  background-color: #000;
}

.highlighted span:hover {
  color: #fff;
  background-color: #000;
}

.hightlighted a {
  color: #1667b6;
}
</style>
