<template>
  <div>
    <div v-if="isLoggedIn">
      <div v-for="tiersheet in tiersheets" :key="tiersheet.id">
        <span>
          <a @click="selectTiersheet(tiersheet.id)"> {{ tiersheet.title }} </a>
          <span v-if="!tiersheet.is_default">
            <a @click="openDeleteDialog(tiersheet)" target="_blank">
              <v-icon>close</v-icon>
            </a>
          </span>
          <span v-else>
            <v-chip class="ma-3" color="blue" text-color="white" size="small"> Default </v-chip>
          </span>
        </span>
      </div>
    </div>
    <div v-if="!isLoggedIn">
      Build a customized tiersheet for your draft. Customize to your scoring settings and set
      favorites
    </div>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Delete Tiersheet?</v-card-title>

        <v-card-text> Are you sure you want to delete this tiersheet? </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="clearDialog()"> No </v-btn>

          <v-btn color="green darken-1" text @click="confirmDelete()"> Yes </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <Snackbar />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapActions } from 'vuex';
import Snackbar from '@/layout/Snackbar.vue';
import { Tiersheet } from '@/models/Player.model';

export default Vue.extend({
  name: 'tiersheets',
  components: { Snackbar },
  data(): {
    dialog: boolean;
    toDel: Tiersheet | null;
  } {
    return {
      dialog: false,
      toDel: null,
    };
  },
  created() {
    this.$store.watch(
      (state) => state.auth.isLoggedIn,
      (isAuth) => {
        if (isAuth) {
          this.getTiersheets();
        } else {
          this.clear();
        }
      }
    );
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      tiersheets: 'tiersheets/tiersheets',
    }),
  },
  methods: {
    ...mapActions({
      getTiersheets: 'tiersheets/getTiersheets',
      clear: 'tiersheets/clear',
      deleteTiersheet: 'tiersheets/deleteTiersheet',
    }),
    selectTiersheet(id: string) {
      return this.$router.push(`/tiersheet/${id}`);
    },
    openDeleteDialog(tiersheet: Tiersheet) {
      this.toDel = tiersheet;
      return (this.dialog = true);
    },
    clearDialog() {
      this.toDel = null;
      this.dialog = false;
    },
    confirmDelete() {
      this.deleteTiersheet(this.toDel?.id);
      this.clearDialog();
    },
  },
  mounted() {
    if (this.isLoggedIn) {
      this.getTiersheets();
    }
  },
});
</script>
