<template>
  <div>
    <Topbar :has-search="false"></Topbar>
    <v-main>
      <v-row>
        <v-col cols="4">
          <v-row align="center" justify="center" class="my-4">
            <div class="call-to-action">
              <h1>Level Up</h1>
              <h4>Rank your favorite players</h4>
              <br />
              <a href="/tiersheet"><v-btn x-large color="primary">Create a Tiersheet</v-btn></a>
            </div>
          </v-row>
          <v-row align="center" justify="center" class="my-4">
            <div class="center-section">
              <!-- <div class="subheading">News</div>   -->
            </div>
          </v-row>
        </v-col>
        <v-col cols="4">
          <v-row align="center" justify="center" class="my-4">
            <div class="center-section">
              <img class="img" src="../assets/images/landing_image1.png" />
            </div>
          </v-row>
          <v-row align="center" justify="center" class="my-4">
            <div class="center-section">
              <!-- <div class="subheading">Risers/Fallers</div>  -->
            </div>
          </v-row>
        </v-col>
        <v-col cols="4" class="my-4">
          <v-row align="center" justify="center" class="my-4">
            <div class="center-section">
              <div class="subheading"><v-icon>show_chart</v-icon> Tiersheets</div>
              <Tiersheets />
            </div>
          </v-row>
          <v-row align="center" justify="center" class="my-4">
            <div class="center-section">
              <!-- <div class="subheading">More</div> -->
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-main>
    <Snackbar />
  </div>
</template>

<script>
import Topbar from '@/layout/Topbar.vue';
import Snackbar from '@/layout/Snackbar.vue';
import Tiersheets from '@/features/Tiersheets.vue';

export default {
  name: 'HomeLanding',
  display: 'Home',
  components: {
    Topbar,
    Tiersheets,
    Snackbar,
  },
};
</script>
<style scoped>
.center-section {
  height: 300px;
  width: 50%;
}
.call-to-action {
  font-family: 'Poppins', sans-serif;
}
.subheading {
  font-size: 1.5rem;
  display: block;
  color: #3b3b3b;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #777;
}
</style>
