<template>
  <div class="container">
    <v-spacer />
    <v-card elevation="2" min-width="590">
      <h2>Login</h2>
      <v-form id="loginForm" ref="form" lazy-validation @submit.prevent="handleSubmit">
        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>

        <v-text-field v-model="password" type="password" label="Password" required></v-text-field>
        <h5 align="right"><a @click="forgot">Forgot Password?</a></h5>
        <div class="form-group">
          <v-card-actions class="justify-center">
            <v-btn type="submit" large color="success" form="loginForm">Login</v-btn>
          </v-card-actions>

          <h4>Not Registered? <a @click="register">Create an Account</a></h4>
        </div>
      </v-form>
    </v-card>
    <v-spacer />
    <Snackbar />
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Snackbar from '@/layout/Snackbar.vue';
export default {
  name: 'Login',
  components: {
    Snackbar,
  },
  data: function () {
    return {
      email: '',
      password: '',
      submitted: false,
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
    };
  },
  methods: {
    ...mapActions('auth', ['login']),
    register() {
      return this.$router.replace({ path: '/signup' });
    },
    forgot() {
      return this.$router.replace({ path: '/reset-password' });
    },
    handleSubmit(e) {
      try {
        this.submitted = true;
        this.$refs.form.validate();
        const email = this.email;
        const password = this.password;

        if (email && password) {
          this.login({ email, password });
        }
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style scoped>
.login {
  margin-top: 40px;
}
.container {
  display: flex;
}
input {
  align-self: center;
  margin: 10px 0;
  width: auto;
  padding: 15px;
}
button {
  margin: 10px 0;
  background-color: #0476f2;
}
a {
  color: black;
  text-decoration: underline;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
h1,
h2 {
  font-weight: normal;
}
</style>
