<template>
  <div class="not-found">
    <h3>Wuh!?</h3>
    <p>You are not authorized to view this page</p>
    <button v-on:click="go" class="button">Go to Main Page</button>
  </div>
</template>

<script>
export default {
  name: 'not-allowed',
  data: function() {
    return {};
  },
  methods: {
    go() {
      this.$router.replace('/');
    }
  }
};
</script>

<style scoped>
.not-found {
  margin-top: 40px;
}
button {
  margin: 10px 0;
  background-color: #0476f2;
}
p {
  margin-top: 40px;
  font-size: 13px;
}
h3 {
  font-weight: normal;
}
</style>
