<template>
  <div class="container" align="center" justify="center">
    <v-spacer />
    <v-card elevation="2" max-width="490">
      <h2>Password reset email sent</h2>
    <p>
      We have just sent a password reset link to the email address you entered. 
      Please double-check that this is the email associated with your account. 
      If you do not receive an email within the next few minutes, this may not be the email address for your account.
    </p> 
    </v-card>
  </div>
</template>

<script>

export default {
};
</script>
