<template>
  <div class="container" align="center" justify="center">
    <v-spacer />
    <v-card elevation="2" max-width="490">
      <h2>Password Reset</h2>
      <v-form
        ref="form"
        id="registerForm"
        v-model="isValid"
        @submit.prevent="handleSubmit"
        lazy-validation
      >
        <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
        <div class="form-group">
          <v-card-actions class="justify-center">
            <v-btn type="submit" :disabled="!isValid" large color="success" form="registerForm"
              >Reset Password</v-btn
            >
          </v-card-actions>
        </div>
      </v-form>
    </v-card>
    <v-spacer />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      isValid: false,
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+/.test(v) || 'E-mail must be valid',
      ],
    };
  },
  methods: {
    ...mapActions('auth', ['resetPassword']),
    handleSubmit(e) {
      try {
        this.submitted = true;
        this.$refs.form.validate();
        const email = this.email;

        if (email) {
          this.resetPassword(email);
          return this.$router.replace({ path: '/' });
        }
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>
