<template>
  <div class="container" align="center" justify="center">
    <v-spacer />
    <v-card elevation="2"  max-width="490">
      <h2>Register</h2>
      <v-form ref="form" id="registerForm" v-model="isValid" @submit.prevent="handleSubmit" lazy-validation>
          <v-text-field 
          v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
          <v-text-field ref="password" append-icon="lock" 
            v-model="password" 
            label="Password" type="password" :rules="PasswordRules" 
            :error-messages="errorMessages" required ></v-text-field> 
          <v-text-field ref="password2" append-icon="lock" label="Confirm Password" 
          v-model="password2" type="password" :rules="PasswordRules2.concat(validatePassword2)"
           :error-messages="errorMessages" required ></v-text-field> 
        <div class="form-group">
          <v-card-actions class="justify-center">
            <v-btn type="submit" :disabled="!isValid"  large color="success" form="registerForm">Register</v-btn>
          </v-card-actions>

        </div>
      </v-form>
    </v-card>
    <v-spacer />
    <Snackbar />
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import Snackbar from '@/layout/Snackbar.vue';

export default {
  components:{ Snackbar},
  data() {
    return {
    isValid: false,
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ],
    password: "",
    password2: "",
    errorMessages: [],
    PasswordRules: [ v => !!v || "Password is required", v => (v && v.length >= 8) || "Password must be valid" ], 
    PasswordRules2: [ v => !!v || "Password is incorrect" ],
    };
  },
  methods: {
    ...mapActions('auth', ['signUp']),
    validatePassword2(value) {
      return value == this.password || "Password is not identical. Passwords must match."
    },
     handleSubmit(e) {
      try {
        this.submitted = true;
        this.$refs.form.validate();
        const email = this.email;
        const password = this.password;
        const password2 = this.password2;

       if ((email && password) && (password === password2)) {
          this.signUp({ email, password });
          return this.$router.replace({ path: '/' });
        } 
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>
