<template>
  <span>
    <v-spacer />
    <v-snackbar
      @input="clearSnack()"
      :value="snackConfig.show"
      :left="snackConfig.left"
      :right="snackConfig.right"
    >
      {{ snackConfig.text }}
     <v-btn v-if="snackConfig.customLink" color="pink" text @click="goTo(snackConfig.customLink, snackConfig.trackCode)">
        Ok
      </v-btn>
      <v-btn v-if="snackConfig.hasClose" color="pink" text @click="clearSnack(snackConfig.trackCode)">
        Close
      </v-btn>
    </v-snackbar>
    <v-spacer />
  </span>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Snackbar',
  display: 'Snackbar',
  methods: {
    clearSnack(trackCode) {
      this.setSeen(trackCode);
      this.$store.dispatch('snackbar/clear');
    },
    goTo(customLink, trackCode) {
      this.setSeen(trackCode);
      this.clearSnack();
      return this.$router.push({ path: `/${customLink}` });
    },
    setSeen(trackCode){
      if(trackCode){
        sessionStorage.setItem(trackCode, true);
      }
    }
  },
  computed: {
    ...mapGetters({ snackConfig: 'snackbar/snackConfig' })
  }
};
</script>
