<template>
  <v-app-bar app id="navbar" color="">
    <v-toolbar-title @click="goHome()" class="headline text-uppercase" style="cursor: pointer">
      <img class="img" src="../assets/images/logo.svg" />
      <span class="title">Fantasy Tiersheet</span>
    </v-toolbar-title>
    <v-chip v-if="isAdmin" class="ma-2" color="red" text-color="white"> Admin </v-chip>
    <v-spacer></v-spacer>

    <router-link v-show="!isLoggedIn" :to="{ name: 'login' }">Login</router-link>
    <router-link v-show="isLoggedIn" :to="{ name: 'home' }">
      <v-icon @click="viewAccount">account-circle</v-icon>
      <span @click="logout">Sign Out</span>
    </router-link>
  </v-app-bar>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  props: ['hasSearch'],
  name: 'topbar',
  display: 'Topbar',
  data() {
    return {
      search: '',
      isSearching: false,
    };
  },
  methods: {
    ...mapActions({ signOut: 'auth/signOut' }),
    viewAccount() {
      console.log('View Account');
    },
    logout() {
      this.signOut();
    },
    goHome() {
      return this.$router.push('/').catch((err) => {});
    },
  },
  computed: {
    ...mapGetters({ isAdmin: 'auth/isAdmin', isLoggedIn: 'auth/isLoggedIn' }),
  },
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Poppins');
.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-left: 20px;
  align-items: baseline;
  line-height: 3;
}
.img {
  vertical-align: -8px;
}
@media print {
  #navbar {
    display: none;
  }
}
</style>
